body {
  margin: 0;
  padding: 0;
  background-color:white;
}
.container{
	position: relative;
	width: 99%;
	height: 883px;
  border-radius: 20px;
  box-shadow: 0 1px #999;
}

.container img {
    position: absolute;
    bottom: 0;
}

.container img:nth-of-type(1) {
  width: 20%;
  height: 25%;
  left: 10px;
  bottom: 10px;
}

.container img:nth-of-type(2) {
  right: 10px;
  width: 20%;
  height: 25%;
  bottom: 10px;
}
.sidebar{
  position: relative;
  left: 0px;
  width: 20%;
  height: 85%;
  margin: 10px;
  text-align: center;
  padding-top: 40px;
  border: 3px solid #848484;
  border-radius: 20px;
  box-shadow: 0 1px #999;
}
.sidebarHome{
  position: relative;
  left: 0px;
  width: 10%;
  height: 85%;
  margin: 10px;
  text-align: center;
  padding-top: 40px;
  border: 3px solid #848484;
  border-radius: 20px;
  box-shadow: 0 1px #999;
}
.content{
  position: absolute;
  top: 100px;
  right: 0px;
  width: 75%;
  height: 77%;
  margin: 10px;
  text-align: center;
  border: 3px solid #848484; 
  border-radius: 20px;
  box-shadow: 0 1px #999;
}
.contentHome{
  position: absolute;
  top: 100px;
  right: 0px;
  width: 85%;
  height: 77%;
  margin: 10px;
  text-align: center;
  border: 3px solid #848484; 
  border-radius: 20px;
  box-shadow: 0 1px #999;
}
.footer {
  position:relative;
  bottom:0;
  width:99%;
  height:71px; 
  margin: 10px;
  text-align: center;
  border: 3px solid #848484;
  border-radius: 20px;
  box-shadow: 0 1px #999;
}
.navbar {
  position:absolute;
  top:0;
  right: 0;
  width:75%;
  height:10%; 
  margin: 10px;
  text-align: center;
  border: 3px solid #848484;
  border-radius: 20px;
  box-shadow: 0 1px #999;
}
.navbarHome {
  position:absolute;
  top:0;
  right: 0;
  width:85%;
  height:10%; 
  margin: 10px;
  text-align: center;
  border: 3px solid #848484;
  border-radius: 20px;
  box-shadow: 0 1px #999;
}
.navbar-nav {
  position: relative;
  height: 50px;
  display: inline-block;
  margin-top: 30px;
}
.navbar-nav > li {
  float: left;
  margin-right: 50px;
}
.navbar-nav > li > a.active {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 17px;
  color:black;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
.navbar-nav > li > a.passive {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 17px;
  color:red;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
.navbar-nav > li > a:hover{
  color: #777;
}
.striped{
  width: 99%;
  height: 600px;
  display: inline-block;
  position: relative;
  top: 10px;
  overflow-y: scroll;
  border-collapse: collapse;
  text-align: left;
}
thead th {
  width: 20%;
  padding: 15px;
  cursor: default;
  padding: 0px;
  color:#ff8700;
}

.options{
	display: inline-block;
	margin-right: 7%;
}
.options li {
  display: inline-block;
	float: left;
	margin: 3px;
}
.form {
  padding-top: 40px;
  height: 500px;
  text-align: center;
  margin: 10px;
}
.buton{
	width: 70%;
	background-color: #e8ebe0;
	font-weight: bold;
	font-size: 15px;
	font-family: sans-serif;
	color: #53402d;
	position: relative;
  text-decoration: none;
	border: 2px solid #848484;
	border-radius: 20px;
  margin: 20px;
  outline: none;
  box-shadow: 0 3px #999;
  cursor: pointer;
}
.buton:hover {background-color: #e8ebe0}
.buton:active {
  background-color: #e8ebe0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
label{
  display: inline-block;
  margin-bottom: 3px;
  float: left;
}
input {
  float: left;
  display: inline-block;
  margin-bottom: 40px;
  width: 90%;
  height: 22px;
  border-radius: 15px;
  border: 2px solid #848484;
  text-align: center;
  font-size: 14px;
  font-family: dosis;
  font-variant: inherit;
  text-decoration: none;
  outline: none;
}
.dataInput{
  box-shadow: 0 1px #999;
}
p {
  color:steelblue;
  cursor: default;
}

